body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    text-align: center;
    overflow: hidden;
}

div#pointer {
    position: absolute;
    width: 100%;
    top: 240px;
    left: 0px;
}
    
div#pointer span:first-child {
   text-align: right;
   padding-right: 180px;
}

div#pointer span:last-child {
   text-align: left;
   padding-left: 180px;
}   
    
ul {
    position: relative;
    top: 0px;
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
    width: 400px;
    transition: top 10s cubic-bezier(0.000, 1.005, 0.000, 1.005);
}  

ul li {
    height: 70px;
    line-height: 70px;
    overflow: hidden;
}   
    
.winner {
    font-weight: bold;
}

div#popup {
    display: none;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    width: 500px;
    margin: 0px auto;
    border: 4px black solid;
    background: linear-gradient(to bottom, rgba(255,0,0,1) 7%,rgba(0,255,0,1) 100%);
    font-weight: bold;
}

div#popup div {
    margin: -5px 30px;
    background: black;
    padding: 10px;
    font-size: 1.3em;
    color: #ff0000;
}

div#popup .scroller {
    position: relative;
}

div#popup .scroller:first-child {
    top: -2px;
    color: #00ff00;
    -webkit-animation: scroller 1s linear infinite alternate;
}

div#popup .scroller:last-child {
    top: 4px;
    color: #ff0000;
    -webkit-animation: scroller 700ms linear infinite alternate;
}

div#popup div span:first-child {
    font-size: 1.1em;
}

#winner {
    font-size: 1.5em;
    color: #ffff00;
    animation: neon 1.5s ease-in-out infinite alternate;
}

.blink {
    -webkit-animation: blinker 0.5s linear infinite alternate;
}

@-webkit-keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0.5; }
}

@-webkit-keyframes scroller {
    from { left: -40%; }
    to { left: 40%; }
}

.fb-reaction {
    width: 50px;
    height: 50px;
    background-image: url(facebookicons.gif);
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.fb-LIKE {
    background-position: -62px -111px;
}

.fb-LOVE {
    background-position: -124px -109px;
}

.fb-HAHA {
    background-position: -185px -110px;

}

.fb-WOW {
    background-position: -246px -111px;
}

.fb-SAD {
    background-position: -308px -110px;
}

.fb-ANGRY {
    background-position: -369px -110px;
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
